/* not required */

*,:active{
	outline: none;
}
*{
	padding: 0px;
	margin: 0px;
}
html,
body {
	margin: 0;
	padding: 0;
}

body{
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size: 96.5%;
	font-family: Helvetica, Arial, sans-serif;
}

input{
	font-family: Helvetica, Arial, sans-serif;

}


h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


/* required */
.calendar{
	position: absolute;
	border-radius: 10px;
	width: 800px;
	height: 450px;
	left: 50%;
	margin-left: -400px;
	margin-top: -225px;
	top: 50%;
	background-color: #ffffff;
	color: #1e3038;
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.19);

}

.calendar h1, .calendar h2{
	font-weight: 400;
	font-size: 34px;
	line-height: 28px;
	margin-top: 14px;
}

.calendar h1 span{
	display: block;
}

.calendar .col{
	position: relative;
	float: left;
	height: 100%;
}

.calendar .col .content{
	padding: 40px;
}

.calendar ul{
	margin: 0px;
}

.calendar ul li{
	list-style: none;
}

.calendar .leftCol{
	width: 40%;
	background-color: #fafafa;
	border-radius: 10px;
}

.calendar .noteList li{
	color: #ffffff;
	margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li{
	font-weight: 400;
	font-size: 16px;
}

.calendar .notes p{
	border-bottom: solid 1px rgba(255,255,255,0.4);
}

.calendar .notes input{
	color: #1e3039;
	border: none;
	width: 240px;
}

.calendar .addNote,
.calendar .removeNote{
	float: right;
	color: rgba(255,255,255,0.4);
	font-weight: bold;
	margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover{
	color: #ffffff;
}

.calendar .addNote{
	font-size: 16px;
}

.calendar .leftCol h1{
	color: #1e3039;
	margin-bottom: 20px;
}

.calendar .rightCol{
	width: 60%;

}

.leftCol{
	overflow-y: scroll;

}

.calendar .rightCol h2{
	color: #C7BEBE;
	text-align: right;
	margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekday li,
.calendar .days li{
	float: left;
	text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekday li a,
.calendar .days li a{
	display: block;
	color: #747978;
}

.calendar .months li a{
	font-size: 10px;
	color: #C7BEBE;
	text-align: center;
	width: 32px;
	margin-bottom: 20px;
}

.calendar .months li .selected{
	font-weight: bold;
	color: #747978;
}

.calendar .weekday li a{
	width: 55px;
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

.calendar .days li{
	width: 55px;
}

.calendar .days li a{
	width: 36px;
	height: 24px;
	text-align: center;
	margin: auto auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 12px;
	margin-bottom: 10px;
	padding-top: 10px;
}


.calendar .days li a:hover{
	background-color: #EEEDE9;
}

.calendar .days li .selected{
	background-color: #F5A1A3!important;
	color: #ffffff;
}

.calendar .days li .event{
	color: #F5A1A3;
}


/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }



.January{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageJanuary.png");
	background-size: cover;

}
.February{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/ImageFebruary.png");
	background-size: cover;

}
.March{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageMarch.png");
	background-size: cover;

}
.April{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageApril.png");
	background-size: cover;

}
.May{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageMay.png");
	background-size: cover;

}
.June{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageJune.png");
	background-size: cover;

}
.July{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageJuly.png");
	background-size: cover;

}

.August{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageAugust.png");
	background-size: cover;

}
.September{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageSeptember.png");
	background-size: cover;

}
.November{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageNovember.png");
	background-size: cover;

}
.October{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageOctober.png");
	background-size: cover;

}
.December{
	background-image: url("https://s3-sa-east-1.amazonaws.com/0xbunny/chrome/imageDecember.png");
	background-size: cover;

}

.social{
	padding: 20px;
	z-index: 20000;
	position: absolute;
}
.social a{
	margin-right: 10px;
}
.social img{
	width: 16px;

}
.brand{
	text-align: center;

}
.brand img{
	width: 150px;
	margin-top: 20px;
}
